*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: montserrat, serif ;
    background-color: #82AAE3;
}
.form{
    width:400px;
    height: 330px;
    border: 5px black;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    top:0;
    left: 0;
    bottom:0;
    right:0;
    padding:30px;
    border-radius: 10px;
    background: #D2DAFF;
    box-shadow: 0 8px 32px 0 #19376D;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #19366d83;
}
.text{
    font-size: larger;
    font-weight: 500;
}
.form span{
    font-size:18px;
}
.form input{
    width:90%;
    height: 50px;
    font-size:16px;
    outline:none;
    background-color: #fbf9f9 ;
    border: 1px solid #343842 ;
    color:#7b8888;
    margin:10px 0;
    padding:10px;
    border:3px #1B2631;
    border-radius: 8px;
}
.form input[type="submit"].btnSuivant{
    width:90%;
    font-size:18px;
    background-color:#19376D;
    color:#fff;
    margin:15px 0;
    padding:10px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 13px;
}
.form input[type="submit"].btnSuivant:hover{
    background-color:#93C6E7;
    color:#ffffff;
}

